{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Eu-To-Geo Auto Export</h1>
        <div class="content">
            <p>„EuToGeo Auto Import" წარმოადგენს წამყვან კომპანიას, რომელიც უზრუნველყოფს ავტომობილების უსაფრთხო და სწრაფ ტრანსპორტირებას ევროპიდან საქართველოს მიმართულებით.</p>

            <h2>სწრაფი და უსაფრთხო ტრანსპორტირება</h2>
            <p>თითოეული ავტომობილი გადის შემოწმებას, რაც უზრუნველყოფს ტრანსპორტირების პროცესის მაქსიმალურ უსაფრთხოებას. ჩვენი პროფესიონალი გუნდი გამოიყენებს მხოლოდ მაღალი ხარისხის სატრანსპორტო საშუალებებს, რაც ნიშნავს იმას, რომ თქვენი ავტომობილი იქნება დაცული გზაში და მიაღწევს დანიშნულ ადგილზე იმავე მდგომარეობაში, როგორიც იყო შეძენის დროს.</p>

            <h2>როგორ ვმუშაობთ</h2>
            <p>ჩვენი მომსახურება იწყება თქვენს მიერ შერჩეული ავტომობილის დეტალური შეფასებით და ტრანსპორტირების საჭიროებების გაანალიზებით. ჩვენი გუნდი გაივლებს ყველა საჭირო ნაბიჯს იმისთვის, რომ პროცესი იყოს რაც შეიძლება სწრაფი და ეფექტური.</p>

            <p>დარწმუნდით, რომ „EuToGeo Auto Import" გთავაზობთ საუკეთესო მომსახურებას, რაც უზრუნველყოფს თქვენი ავტომობილის უსაფრთხო ტრანსპორტირებას ევროპიდან საქართველოს მიმართულებით.</p>
        </div>
    </div>


{% endblock %}
