<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>EuToGeo Auto import/ავტოიმპორტი ევროპიდან</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    {% block head %}

    {% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="static/images/logo (2).png" alt="Eu-To-Geo Auto Export Logo" style="border-radius: 15px;">
            <span>EuToGeo Auto Import</span>
        </div>
        <ul class="nav-links">
            <li><a href="/home">Home/სახლი</a></li>

            <li class="dropdown">
                <a href="/transportation_prices" class="drop-btn" onclick="toggleDropdown()">Transportation Prices/ტრანსპორტირების ფასები</a>
                <div class="dropdown-content" id="dropdown-content">
                    <a href="/small_cars">small cars/მსუბუქი ავტომობილი</a>
                    <a href="/big_cars">big cars/სატვირთო ავტომობილი</a>
                </div>
            </li>
            <li><a href="/about">About/ჩვენს შესახებ</a></li>
            <li><a href="/contacts">Contact/კონტაქტი</a></li>
        </ul>
    </nav>


        {% block body %}

        {% endblock %}
    <footer class="footer">
    <div class="footer-container">
        <div class="footer-section about">
            <h2>About Us</h2>
            <p>Eu-To-Geo Auto Import specializes in transporting vehicles from Europe to Georgia with speed, security, and reliability.</p>
        </div>
        <div class="footer-section links">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">Home/სახლი</a></li>
                <li><a href="/about">About/ჩვენს შესახებ</a></li>
                <li><a href="/contacts">Contact/კონტაქტი</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h2>Contact Us</h2>
            <ul>
                <li><i class="fas fa-phone"></i> +995 551 31 30 29</li>
                <li><i class="fas fa-envelope"></i>eutogeoautoexport@gmail.com</li>
                <li><i class="fas fa-map-marker-alt"></i> Tbilisi, Georgia</li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        &copy; 2024 Eu-To-Geo Auto import | All Rights Reserved
    </div>
    </footer>



</body>
</html>
